.hBtn {
  padding-left: 3px;
  padding-right: 3px;
}
#pageTitle {
  margin-top: 1px;
  margin-bottom: 1em;
}
pre {
  font-size:12pt
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 2px solid blue;
}
th { 
  background-color: #CCCCCC;
  color: black;
}
tr:nth-child(odd){
	background-color: #EEEEEE; color: black;
}
tr:nth-child(even) {
	background-color: #FFFFFF; color: black;
}
.tagmark {
  background-color: #E7E7E7;
  padding: 2px 5px;
  border: 1px solid #505050;
  border-radius: 8px;
}
.bg-yellow {
  background-color: yellow;
}
.bg-aqua {
  background-color: aqua;
}
.fg-red {
  color: red;
}
.fg-green {
  color: green ;
}

