body {
  height: 100%;
  width: 100%;
  margin:0;                      
}
div#ptitle {
  overflow: hidden;
  background-color: lightgray;
  position: sticky;
  top: 0;
  width: 100%
}
div#hidable_header {
  display: none;
  background-color: lightgray;
  width: 100%;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
h4#pageTitle {
  margin-top: 0.4em;
  margin-bottom: 0.5em;
  width: 100%;
}
span#title_arrow {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.1em;
}
div#content {
  padding: 0.5em;
  overflow: auto;
}
div#tags {
  margin-top:5px;
}
div#tagcloud {
  margin-top: 1em;
}
div#main {
  margin-top: 1em;
}
.material-icons.wa {
/* Lineage OS 16 Xiaomi Mi8 workaround */
  color: #FFFFFF;
  font-size: 18px;
}
.hBtn {
  padding-left: 3px;
  padding-right: 3px;
}
#pageTitle {
  margin-top: 1px;
  margin-bottom: 1em;
}
pre {
  font-size:12pt
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 2px solid blue;
}
th { 
  background-color: #CCCCCC;
  color: black;
}
tr:nth-child(odd){
	background-color: #EEEEEE; color: black;
}
tr:nth-child(even) {
	background-color: #FFFFFF; color: black;
}

#TOC {border:solid black 1px; margin:10px; padding:10px;}
.TOCEntry{font-family:sans-serief;}
.TOCEntry a{text-decoration:none;}
.TOCLevel1{font-weight:bold;}
.TOCLevel2{font-weight:bold;}
.TOCLevel3{font-weight:bold;}
.TOCLevel4{font-weight:bold;margin-left:0.5em;}
.TOCLevel5{font-weight:bold;margin-left:1em;}
.TOCLevel6{font-weight:bold;margin-left:1.5em;}
//.TOCSectNum{display:none;}

a.taglink {
  text-decoration: none;
  color: black;
}
.tagmark {
  background-color: #E7E7E7;
  padding: 2px 5px;
  border: 1px solid #505050;
  border-radius: 8px;
}
.tagmarkselected {
  color: white;
  background-color: #888;
}
.bg-yellow {
  background-color: yellow;
}
.bg-aqua {
  background-color: aqua;
}
.fg-red {
  color: red;
}
.fg-green {
  color: green ;
}

