#search_form {
  z-index: 120;
  position: fixed;
  transform: translate(11em, 2em);
  opacity: 0.9;
  width: 50%;
  align: right;
  display: none;
}
input#search_input{
  width: 98%;
  border-radius: 0.4em;
  margin-left: 0.1em;
}
button#btnFind {
  float: right;
  font-size: 1.2em;
  margin-top: 2px;
  margin-right: 3px;
}
button.b05 {
  width: 46%;
  margin-top: 0.4em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
button.b03 {
  width: 30%;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.4em;
}
