<?xml version="1.0" encoding="utf-8"?>
<resources>

    <!-- Application name -->
    <string name="app_name">Open Markdown Notes</string>

    <!--
    Action buttons header
    -->
    <string name="html_action_button_header"><![CDATA["
    <button
      id=\"btnEdit\"
      class=\"hBtn\"
      onclick=\"Android.editButtonCallback(PageName)\">
      {{{btnEdit}}}
    </button>
    <button
      id=\"btnHome\"
      class=\"hBtn\"
      onclick=\"Android.homeButtonCallback()\">
      {{{btnHome}}}
    </button>
    <button
      id=\"btnDebug\"
      class=\"hBtn\"
      onclick=\"Android.debugButtonCallback()\">
      {{{btnDebug}}}
    </button>
    <button
      id=\"btnAdd\"
      class=\"hBtn\"
      onclick=\"Android.newPageButtonCallback()\">
      {{{btnNewPage}}}
    </button>
    <button
      id=\"btnLink\"
      class=\"hBtn\"
      onclick=\"Android.linkButtonCallback(PageName, Title)\">
      {{{btnLink}}}
    </button>
    <button
      id=\"btnEMail\"
      class=\"hBtn\"
      onclick=\"Android.emailButtonCallback(PageName, Title)\">
      {{{btnEmail}}}
    </button>
    <button
      id=\"btnSend\"
      class=\"hBtn\"
      onclick=\"Android.sendButtonCallback(PageName, Title)\">
      {{{btnSend}}}
    </button>
    <button
      id=\"btnFolder\"
      class=\"hBtn\"
      onclick=\"Android.folderButtonCallback(PageName)\">
      {{{btnFolder}}}
    </button>
    <button
      id=\"btnRefresh\"
      class=\"hBtn\"
      onclick=\"Android.refreshHtmlButtonCallback()\">
      {{{btnRefreshHTML}}}
    </button>
    <button
      id=\"btnShortcut\"
      class=\"hBtn\"
      onclick=\"Android.shortcutButtonCallback(PageName, Title)\">
      {{{btnShortcut}}}
    </button>
    <button
      id=\"btnQuickNotes\"
      class=\"hBtn\"
      onclick=\"Android.quicknoteButtonCallback()\">
      {{{btnQuickNote}}}
    </button>
    <button
      id=\"btnSettings\"
      class=\"hBtn\"
      onclick=\"Android.prefButtonCallback()\">
      {{{btnSettings}}}
    </button>
    <br />
"]]></string>

</resources>
